---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main class="flow">
		<h1>Flexbox Tutorial</h1>
		<p>
			This site is a collection of flexbox examples based on Scrimba's
			<a href="https://scrimba.com/learn-flexbox-c0k" target="_blank">Learn Flexbox</a>
			course.
		</p>
		<ul>
			<li>
				<a href="/one/"><code>display: flex</code></a>
			</li>
			<li>
				<a href="/two/"><code>flex-direction</code> main and cross axis</a>
			</li>
			<li>
				<a href="/three/"><code>justify-content</code></a>
			</li>
			<li>
				<a href="/four/">positioning items with <code>margin-left|right: auto</code></a>
			</li>
			
		</ul>
	</main>
</BaseLayout>
