---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main>
		<div class="box">
			<p>home</p>
			<p>search</p>
			<p>logout</p>
		</div>
		<section class="flow">
			<h1>display: flex</h1>
			<p>
				Use the developer tools to inspect the box above and see how the
				flexbox is applied. Change the <code>display</code> property from
				<code>block</code> to <code>flex</code>.
			</p>
		</section>
	</main>
	<footer>
		<a href="../">up</a> | <a href="../two/">next: flex-direction</a>
	</footer>
</BaseLayout>
<style>
	.box {
		border: var(--border-spec);
		display: block;
	}
	.box > * {
		padding: 1rem;
		color: var(--color-light);
		margin: 0;
		text-transform: capitalize;
		font-weight: 500;
		font-size: 2rem;
		line-height: 1;
	}
	.box > *:nth-child(3n + 1) {
		background-color: var(--color-primary);
	}
	.box > *:nth-child(3n + 2) {
		background-color: var(--color-secondary);
	}
	.box > *:nth-child(3n) {
		background-color: var(--color-tertiary);
	}
</style>
