---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main>
		<div class="box">
			<p>home</p>
			<p>search</p>
			<p>logout</p>
		</div>
		<section class="flow">
			<h1>justify-content</h1>
			<p>
				Use the developer tools to inspect the box above and see the
				effect of the <code>justify-content</code> property. Try changing
				it to <code>flex-start</code> (the default),
				<code>flex-end</code>, <code>center</code>,
				<code>space-between</code>, <code>space-evenly</code>, and <code
					>space-around</code
				>.
			</p>
		</section>
	</main>
	<footer>
		<a href="../two/">back</a> | <a href="../">up</a> | <a href="../four/">next: positioning items</a>
	</footer>
</BaseLayout>
<style>
	.box {
		border: var(--border-spec);
		display: flex;
		justify-content: flex-start;
	}
	.box > * {
		padding: 1rem;
		color: var(--color-light);
		margin: 0;
		text-transform: capitalize;
		font-weight: 500;
		font-size: 2rem;
		line-height: 1;
	}
	.box > *:nth-child(3n + 1) {
		background-color: var(--color-primary);
	}
	.box > *:nth-child(3n + 2) {
		background-color: var(--color-secondary);
	}
	.box > *:nth-child(3n) {
		background-color: var(--color-tertiary);
	}
</style>
