---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main>
		<div class="box">
			<p>home</p>
			<p>search</p>
			<p>logout</p>
		</div>
		<p>Use the developer tools to inspect the box above and see the effect of the <code>flex-direction</code> property. 
			Try changing it to <code>row</code> (the default),
			<code>column</code>, <code>row-reverse</code>, and <code>column-reverse</code>.</p>
		<p>Next: <a href="../three/">justify-content</a></p>
	</main>
</BaseLayout>
<style>
	.box {
		border: var(--border-spec);
		display: flex;
		flex-direction: column;
	}
	.box > * {
		padding: 1rem;
		color: var(--color-light);
		margin: 0;
		text-transform: capitalize;
		font-weight: 500;
		font-size: 2rem;
		line-height: 1;
		
	}
	.box > *:nth-child(3n + 1) {
		background-color: var(--color-primary);
	}
	.box > *:nth-child(3n + 2) {
		background-color: var(--color-secondary);
	}
	.box > *:nth-child(3n) {
		background-color: var(--color-tertiary);
	}
</style>